<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Saved Articles</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <a href="/saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="main-img-container">
      <img class="main-img" src="assets/img/news_header.jpg" alt="header-image" />
    </div>
    <div class="caption">
      <h1>NEW YORK TIMES NEWS</h1>
      <p>Saved Articles</p>
    </div>
  </div>

  <div class="container-fluid article-container"></div>
</div>

<footer class="footer">
  <div class="container">
    <p>@2019 Igor Zamaschikov &nbsp; &ndash; &nbsp; New York Times News Mongo Scraper Project</p>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/saved.js"></script>